openapi: 3.0.0
info:
  title: RF-Client API
  description: Reconstructed API documentation for the RF-Client game client.
  version: 1.0.0
servers:
  - url: https://ra2yr.dreamcloud.top:9999/
    description: Production Server
  - url: https://api.yra2.com/
    description: Alternate/Dev Server (Found in comments)
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ResResult:
      type: object
      properties:
        code:
          type: string
          description: Response code (e.g., "200" for success)
        message:
          type: string
          description: Response message
        data:
          type: object
          description: Response payload
    
    LoginDto:
      type: object
      required:
        - name
        - pwd
      properties:
        name:
          type: string
          description: Username or Email
        pwd:
          type: string
          description: Password
    
    TokenVo:
      type: object
      properties:
        access_token:
          type: string
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        password:
          type: string
        email:
          type: string
        role:
          type: string
        tag:
          type: string
        side:
          type: integer
          description: "0: Soviet, 1: Allied, 2: Yuri, 3: Neutral"
        badge:
          type: string
        mac:
          type: string
    
    ChangePwdDto:
      type: object
      required:
        - id
        - oldPwd
        - newPwd
      properties:
        id:
          type: string
        oldPwd:
          type: string
        newPwd:
          type: string

    BadgeDto:
      type: object
      properties:
        userId:
          type: string
        badgeId:
          type: string

    BadgeVo:
      type: object
      properties:
        badgeName:
          type: string
        level:
          type: integer
        exp:
          type: integer
        nextLevelExp:
          type: integer
        canUseBadges:
          type: array
          items:
            $ref: '#/components/schemas/Badge'

    Badge:
      type: object
      properties:
        id:
          type: string
        name:
          type: string

    Component:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        type:
          type: integer
          description: "0: Map, 1: Mission, 2: Mod, 3: MapPack, 4: Other"
        tags:
          type: string
        file:
          type: string
          description: Filename or URL
        size:
          type: integer
        hash:
          type: string
        uploadTime:
          type: string
        uploadUser:
          type: string
        passTime:
          type: string
        uploadUserName:
          type: string
        typeName:
          type: string
        downCount:
          type: integer
        version:
          type: string
        author:
          type: string

    QuestionBank:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
          description: Usually stores User ID in requests
        problem:
          type: string
        options:
          type: string
        answer:
          type: integer
        difficulty:
          type: integer
          description: "0: Easy, 1: Medium, 2: Hard"
        type:
          type: string
        enable:
          type: integer

    UpdaterServer:
      type: object
      properties:
        id:
          type: string
        type:
          type: integer
        name:
          type: string
        location:
          type: string
        url:
          type: string
        priority:
          type: integer

    UpdaterInfo:
      type: object
      properties:
        id:
          type: string
        version:
          type: string
        file:
          type: string
        hash:
          type: string
        size:
          type: string
        log:
          type: string
        channel:
          type: string
        updateTime:
          type: string

paths:
  # User Authentication & Management
  /user/login:
    post:
      summary: User Login
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginDto'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        $ref: '#/components/schemas/TokenVo'

  /user/loginByToken:
    post:
      summary: Login using existing token
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: string
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        $ref: '#/components/schemas/TokenVo'

  /user/register:
    post:
      summary: Register new user
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Registration result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /user/getSignCode:
    get:
      summary: Get email verification code for registration
      tags: [User]
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Verification code sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: string

  /user/getResetCode:
    get:
      summary: Get email verification code for password reset
      tags: [User]
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Verification code sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: string

  /user/reset:
    post:
      summary: Reset password
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Reset result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /user/changePassword:
    post:
      summary: Change password (authenticated)
      tags: [User]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePwdDto'
      responses:
        '200':
          description: Change result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /user/editUser:
    post:
      summary: Edit user profile
      tags: [User]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /user/getUserExp:
    get:
      summary: Get user experience and badges
      tags: [User]
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User experience info
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        $ref: '#/components/schemas/BadgeVo'

  /user/updUserBadge:
    post:
      summary: Update equipped badge
      tags: [User]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BadgeDto'
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /user/checkBanUserByMac:
    get:
      summary: Check if user is banned by MAC address
      tags: [User]
      parameters:
        - name: mac
          in: query
          required: true
          schema:
            type: string
          description: The machine's unique identifier (MAC/UUID)
      responses:
        '200':
          description: Ban check result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: string
                        description: If not null, contains ban expiration/message. If null, user is not banned.

  /user/addOnlineUser:
    post:
      summary: Register user as online
      tags: [User]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                mac:
                  type: string
      responses:
        '200':
          description: Operation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  # Workshop / Component Management
  /component/getAllComponent:
    get:
      summary: Get all components uploaded by a user
      tags: [Component]
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
          description: User ID
      responses:
        '200':
          description: List of components
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Component'

  /component/addComponent:
    post:
      summary: Upload a new component
      tags: [Component]
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                author:
                  type: string
                description:
                  type: string
                tags:
                  type: string
                type:
                  type: string
                version:
                  type: string
                uploadUser:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Upload result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /component/updComponent:
    post:
      summary: Update an existing component
      tags: [Component]
      security:
        - BearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                author:
                  type: string
                description:
                  type: string
                tags:
                  type: string
                type:
                  type: string
                version:
                  type: string
                uploadUser:
                  type: string
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Update result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /component/delComponent:
    post:
      summary: Delete a component
      tags: [Component]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Component'
      responses:
        '200':
          description: Delete result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  # Question Bank
  /questionBank/getQuestionBankByUserID:
    get:
      summary: Get questions created by a user
      tags: [QuestionBank]
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of questions
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/QuestionBank'

  /questionBank/addQuestionBank:
    post:
      summary: Add a new question
      tags: [QuestionBank]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionBank'
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /questionBank/updQuestionBank:
    post:
      summary: Update a question
      tags: [QuestionBank]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionBank'
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  /questionBank/delQuestionBank:
    post:
      summary: Delete a question
      tags: [QuestionBank]
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionBank'
      responses:
        '200':
          description: Result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: boolean

  # Updater
  /updaterServer/getAllUpdaterServer:
    get:
      summary: Get list of update servers
      tags: [Updater]
      responses:
        '200':
          description: List of update servers
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/UpdaterServer'

  /updater/getNewLatestInfoByBaseVersion:
    get:
      summary: Get latest update info
      tags: [Updater]
      parameters:
        - name: type
          in: query
          description: Update channel (0=Stable, 1=Insiders)
          schema:
            type: integer
        - name: baseVersion
          in: query
          description: Current client version
          schema:
            type: string
      responses:
        '200':
          description: Update package info
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        $ref: '#/components/schemas/UpdaterInfo'

  # Dictionary / Config
  /dict/getValue:
    get:
      summary: Get system configuration values
      tags: [System]
      parameters:
        - name: section
          in: query
          required: true
          schema:
            type: string
        - name: key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Config value
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ResResult'
                  - properties:
                      data:
                        type: string

  # Static Resources
  /flags/{countryCode}.png:
    get:
      summary: Get country flag image
      tags: [System]
      parameters:
        - name: countryCode
          in: path
          required: true
          description: Country code (e.g., cn, us)
          schema:
            type: string
      responses:
        '200':
          description: Flag image file
          content:
            image/png:
              schema:
                type: string
                format: binary
